.header-modal {
  height: 5rem;
  padding-top: 1.5rem;
  padding-right: 2rem;
}

.searchPoint {
  //margin-left: 4rem;
  margin-top: 1rem;
}

.titlepage {
  color:var(--ion-color-primary);
  margin-top: 4rem;
  margin-left: 1rem;
  font-size: large;
}

