:root {

    --ion-background-color: white;
	 
    --ion-tab-bar-color: var(--tab-color);
    --ion-tab-bar-color-selected: var(--tab-color-selected);
}

ion-tab-bar {

	

	height: 50px;
	width: 50%;
	padding-top: 0px;
	padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
	

	bottom: 0px;
	position: relative;
	margin: 0 auto !important;
	border-top: none;
}

ion-tab-button {

    border-radius: 16px !important;
}