.master {
background-color: aliceblue;

}

.label {
    padding: 20px;
}
.label h2 {
    color:var(--ion-color-light);

}

.buttons {
    padding: 10px;
    background-color: aliceblue;
    border-radius: 30px;
    margin: 10px;
}

.buttons ion-button {
    margin-bottom: 10px;
}