.master {
background-color: aliceblue;

}

.label {
    padding: 20px;
    margin-top: 2rem;
}
.label h2 {
    color:var(--ion-color-light);
    

}

.panel h2 {
    margin-left: 1rem;
}

.buttons {
    padding: 10px;
    background-color: aliceblue;
    border-radius: 30px;
    margin: 10px;
}

.buttons ion-button {
    margin-bottom: 10px;
}